.input-wrapper{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.label{
  display: block;
  font: var(--label-md);
  margin-bottom: .25rem;
}

.input{
  outline: .0625rem solid var(--border-primary);
  border-radius: .5rem;
  padding-inline: .75rem;
  height: 3rem;

  display: flex;
  align-items: center;
  gap: .625rem;

  & > input{
    all: unset;
    width: 100%;
    color: var(--content-secondary);

    font-size: 1rem;
    font-weight: 400;
  }

  &:hover{
    outline-color: var(--border-secondary);
  }
  
  &:focus-within{
    outline-color: var(--border-brand);
  }
}

.input-date{
  width: fit-content;
}

.textarea-group{
  height: 6rem;
}

textarea{
  outline: .0625rem solid var(--border-primary);
  border-radius: .5rem;
  background: transparent;
  resize: none;

  width: 100%;
  padding: .75rem;

  color: var(--content-secondary);
  font-size: 1rem;
  font-weight: 400;

  &::placeholder{
    font-family: var(--ff-base);
  }

  &:hover{
    outline-color: var(--border-secondary);
  }

  &:focus{
    outline-color: var(--border-brand);
  }
}

::-webkit-calendar-picker-indicator{
  cursor: pointer;
  background: url("../../assets/icons/arrow-down.svg") no-repeat center;
}